body {
    background-color: rgb(184, 184, 184);
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    height: 150px;
    width: 400px;
    border: 10px solid red;
    color: maroon;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
    text-shadow: 2px 2px 10px indigo;
    font-weight: bold;
    font-style: oblique;
}

.subhead {
    font-weight: bold;
}

.form1 {
    font-weight: bold;
    font-size: 20px;
}

hr {
    color: white;
    height: 1px;
}

.second {
    border: 10px solid green;
    border-radius: 10px;
}

.box {
    border: 10px solid red;
    color: maroon;
    border-radius: 10px;
    height: 300px;
    width: 250px;
    background-color: white;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px 10px indigo;
    padding-bottom: 10px;
    margin: 5px;
}

.box1 {
    margin-bottom: 30px;
    padding: 20px;
}

.box2 {
    margin-bottom: 30px;
    padding: 20px;
}

.box2 img {
    height: 300px;
    width: 250px;
}

.box3 {
    margin-top: 30px;
    padding: 20px;
}

.box4 {
    margin-top: 30px;
    padding: 20px;
}

.second1 {
    display: flex;
    justify-content: space-between;
}

.second2 {
    display: flex;
    justify-content: space-between;
}

.third {
    display: flex;
    justify-content: center;
    font-style: oblique;
}

.tbls>p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.tbls {
    background-color: green;
    margin-top: 10px;
    border: 10px solid rgba(255, 0, 255, 0.582);
    padding: 5px;
}

table,
tr,
td {
    border: 2px solid black;
    text-align: center;
    margin: 5px;
}

td {
    background-color: khaki;
    margin: 10px;
}

#btn {
    height: 20px;
    width: 100px;
    color: black;
    background-color: red;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    padding-bottom: 5px;
    margin-top: 10px;
}

#btn:hover {
    color: red;
    background-color: black;
}

.fix {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 400px;
    padding: 10px;
    border-top: 10px solid red;
    border-left: 10px solid red;
    border-right: 10px solid red;
    position: fixed;
    bottom: 0px;
    left: 35%;
    background-color: greenyellow;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 20px;
    color: maroon;
    font-weight: bold;
    font-style: oblique;
}

.fix1 {
    text-align: center;
}

.fix2 {
    text-align: center;
}